.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;

  .footer-top {
    display: flex;
    justify-content: space-between;

    .socials {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 0.75rem;

      .social {
        transition: transform 0.3s;

        * {
          transition: color 0.25s, text-shadow 0.25s;
        }

        &:hover {
          transform: scale(1.4);

          &.discord {
            * {
              color: #7289d9;
            }
          }

          &.youtube {
            * {
              color: #FF0000;
            }
          }

          &.twitch {
            * {
              color: #944CFF;
            }
          }

          &.twitter {
            * {
              color: #1D9BF0;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    .links {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 1.35rem;

      a {
        font-size: 13px;
        transition: all 0.3s;
        font-family: $p2s;

        &:hover {
          font-size: calc(13px * 1.2);
        }
      }
    }

    p {
      font-size: 16px;
    }
  }

  @include touch {
    align-items: center;
    border-top: 1px solid $outline;

    .footer-top {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .footer-bottom {
      margin-top: 1rem;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}
