.button {
  cursor: pointer;
  display: flex;
  outline: 0;
  color: $font-color;
  background-color: $component-background;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid transparent;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: transform 0.3s, color 0.25s, text-shadow 0.25s;
  align-items: center;

  p {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      margin-right: 0.33rem;
    }
  }

  &:hover {
    background-color: bulmaDarken($component-background, 10%);
    transform: scale(1.2);
  }

  &.is-beige {
    background-color: $beige;

    &:hover {
      background-color: bulmaDarken($beige, 5%);
    }

    * {
      color: $outline;
    }
  }

  &.is-warning {
    background-color: $danger;

    &:hover {
      background-color: bulmaDarken($danger, 10%);
    }
  }

  &.is-surface {
    background-color: $surface;

    &:hover {
      background-color: $surface-variant;
    }
  }

  &.is-light {
    background-color: $outline;

    &:hover {
      background-color: bulmaDarken($outline, 10%);
    }
  }
}