$primary: #00afe8;
$primary-variant: #0c799b;
$beige: #FCDFC8;
$background: #1a191c;
$background-variant: #222126;
$surface: #25232A;
$surface-variant: #282831;
$outline: #49454F;
$component-background: #6163ff;

$font-color: #E9E9E9;
$title-on-beige: #333333;
$text-on-beige: #49454F;

$primary-gradient: linear-gradient(45deg, #00afe8, #0c799b, #4a47a3, #6c5ce7, #00afe8, rgba(255, 255, 255, 0.1));
